.sub-text {
    
    margin-top: 7em;
    color: white;
    font-weight: bold;
}
.intro-box {

}
.intro-text {

    padding: 1em;
    line-height: 1.15rem;
}
.icon span {
    border: 2px solid white;
}
.footer {
  
}